#team{
 padding-top: 67px;
}
#iconcolor{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
#topmar{
    width: 1000px;
    margin-left: 250px;
}
#wid{
  width: 150px;
  height: 100px;
}
#gridforimage{
  display: grid;
  grid-template-columns:150px 150px 150px 150px;
  grid-template-rows: 157px 157px;
  grid-row-gap: 35px;
  grid-column-gap: 80px;  
  margin-top: 50px;
  margin-left: -10px;
}
#aa{
  position: relative; 
  background-color: #a38b89;
}
#aa:hover .over{
  opacity: 1;
}
.over{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}
.social{
   width: 20px;
   height: 80px;
   background-color: #ff00c3;
}
#current_day { 
  background-color:yellow; 
  font-weight: bold;
}
#cal{
  margin-top: -350px;
  margin-left: 900px;
} 